@{
    ViewBag.Title = "";
}

<div class="jumbotron">
  
    <h3>Casa do Pão</h3>
  
    <img src="~/Imagem/paoqueijo.jpg" width="300" height="200" />
    
    <p class="lead">Melhor Panificadora de Patos de Minas</p>

    <p>Onde Você Encontra a melhor Qualidade Sempre !!!</p>

    <br/>

   
</div>

